<section class="products-list">
  <div class="products-list-header-container">
    <div>
      <h1 class="products-list-title" nz-typography>Products List</h1>
    </div>
    <div class="products-list-actions-container">
      <button
        class="products-list-add-product-btn"
        nz-button
        nzType="primary"
        (click)="onAddProductClick()">Add Product</button>
    </div>
  </div>
  <nz-table
    #basicTable
    [nzData]="products.results"
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    [nzTotal]="products.total"
    [nzPageSize]="productParams.limit"
    [nzPageIndex]="productParams.page"
    [nzShowSizeChanger]="true"
    (nzQueryParams)="onQueryParamsChange($event)" [nzScroll]="{ x: '360px' }">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Discount Price</th>
      <th>Category</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of products.results">
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.price | currency:"KES" }}</td>
      <td>{{ data.discountedPrice | currency: "KES" }}</td>
      <td>{{ data.category.name }}</td>
      <td>{{ data.productStatus.name }}</td>
      <td></td>
      <td>

      </td>
    </tr>
    </tbody>
  </nz-table>

</section>
